* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  text-decoration: none;
}

body {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
  min-height: 100vh;
}

a {
  color: var(--color-blanco);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.root {
  max-width: 500px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 90%;
  margin: 40px auto;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
  position: relative;
}

.inputNumberOfCharacters input {
  width: 100px;
  text-align: center;
  border: none;
  height: 40px;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.result > input {
  width: 100%;
  border: none;
  height: 40px;
  padding: 0 20px;
  outline: none;
}

/* INPUT TYPE CHECKBOX */
.btn-lock {
  position: absolute;
  right: 0;
  display: inline-block;
  background: #ff5b5b;
  width: 34px;
  height: 34px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.btn-lock svg {
  fill: none;
  transform: translate3d(0, 0, 0);
}

.btn-lock svg .bling {
  stroke: #fff;
  stroke-width: 1.25;
  stroke-linecap: round;
  stroke-dasharray: 1.5;
  stroke-dashoffset: 7.5;
  transition: all 0.3s ease;
}

.btn-lock svg .lock {
  stroke: #fff;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 36;
  transition: all 0.4s ease;
}

.btn-lock svg .lockb {
  fill: #fff;
  fill-rule: evenodd;
  clip-rule: evenodd;
  transform: rotate(8deg);
  transform-origin: 14px 20px;
  transition: all 0.2s ease;
}

.inputLock {
  display: none;
}

.inputLock:checked + label {
  background: #20cca5;
}

.inputLock:checked + label svg {
  opacity: 1;
}

.inputLock:checked + label svg .bling {
  animation: bling6132 0.3s linear forwards;
  animation-delay: 0.2s;
}

.inputLock:checked + label svg .lock {
  stroke-dasharray: 48;
  animation: locked 0.3s linear forwards;
}

.inputLock:checked + label svg .lockb {
  transform: rotate(0);
  transform-origin: 14px 22px;
}

@keyframes bling6132 {
  50% {
    stroke-dasharray: 3;
    stroke-dashoffset: 12;
  }

  100% {
    stroke-dasharray: 3;
    stroke-dashoffset: 9;
  }
}

@keyframes locked {
  50% {
    transform: translateY(1px);
  }
}

/* BUTTON */
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-1 {
  background: rgb(96, 9, 240);
  background: linear-gradient(
    0deg,
    rgba(96, 9, 240, 1) 0%,
    rgba(129, 5, 240, 1) 100%
  );
  border: none;
}

.btn-1:before {
  height: 0%;
  width: 2px;
}

.btn-1:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  border-radius: 20px 20px 0 0;
}

footer i{
  color: red;
}

footer img {
  width: 70px;
}